body {
    background-color: rgb(250, 191, 83);
    font: normal 15pt Arial;
}
header {
    color: violet;
    text-align: center;
}
section {
    color: violet;
    background: rgb(255, 175, 28);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.267);
}
footer {
    color: violet;
    text-align: center;
    font-style: italic;
}
select {
    width: 200px;
    height: 200px;
}
p#mos {
    margin-block-end: 0px;
}